<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
</head>
<body>
<h1>Update Student</h1>
<form th:action="@{/saveStudent}"
      th:object="${student}"
       method="post" >
    <input type="hidden"
           th:field="*{id}"/>
    <label>Name</label>

        <input type="text"
        th:field="*{name}"/>

    <label>Roll Number</label>
    <input type="text"
    th:field="*{rollNumber}">
    <label>Present</label>
    <input type="checkbox"
    th:field="*{present}"/>
    <label>Date</label>
    <input type="text" th:field="*{date}"  readonly="readonly"/ >
    <button type="submit">Save</button>
</form>
<a href="/">Back</a>
</body>
</html>